.wd-search-bar{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-left: none;

}

.wd-search-icon{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: white;
    border-right: none;
}