.wd-bookmarks-title {
    color: white;
    font-size: 20px;
    padding-top: 12px;
}

.wd-bookmarks-user {
    color: rgb(110, 118, 125);
    font-size: 13px;
    padding-bottom: 12px;
}

.wd-profile-pic{
    width:48px;
    height:48px;
    border-radius:48px;
    margin-top: 12px;
    float: left;
}


.wd-post-handle{
    font-size: 15px;
    color: rgb(110, 118, 125);
    padding-top: 12px;
    float: left;
}
.wd-post-date{
    font-size: 15px;
    color: rgb(110, 118, 125);
    padding-top: 12px;
}
.wd-post-author{
    font-size: 15px;
    color: white;
    float: left;
    padding-top: 12px;
    padding-left: 12px;
}
.wd-post-content{
    padding-left: 12px;
    padding-right:16px;
    float: left;
}

.wd-post-text{
    color: white;
    font-size: 15px;
    max-width: 506px;
    float: left;
    padding-bottom: 12px;
}

.wd-post-preview{
    border: 1px solid lightgray;
    border-radius: 15px;
}

.wd-post-pic {
    width: 504px;
    height: 264px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wd-post-preview-title{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
}

.wd-post-preview-text{
    color: rgb(110, 118, 125);
    font-size: 15px;
    margin: 0px 12px 12px;
    max-width: 480px;
}

.wd-post-icons-set{
    position: relative;
    left: 20%;
}

.wd-post-icon{
    color: rgb(110, 118, 125);
    padding-right: 12px;
}

.wd-post-icons{
    float: left;
    color: rgb(110, 118, 125);
    padding: 12px;
}

.wd-post-heart{
    color: red;
    padding-right: 12px;

}