* {
    background-color: black;
}

.wd-section {
    padding-top: 8px;
    padding-bottom: 8px;
}

.wd-clear {
    clear: both;
}

.wd-post-dot {
    color: rgb(110, 118, 125);
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}


.wd-border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: rgb(47, 51, 54);
    padding-top: 8px;
    padding-bottom: 8px;
}

.wd-border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(47, 51, 54);
}

.wd-border-sides {
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    padding-left: 16px;
    width: 600px;
}